body {
  background-color: #121212;
  color: #f5f5f5;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #00bfff;
}

a {
  color: #ff66c4;
  text-decoration: none;
}

a:hover {
  color: #00bfff;
}
